## Showing Attendance

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Attendance.csv')
df.head()

           Name      Time
0       JACK MA  01:20:53
1    BILL GATES  01:21:06
2     ELON MUSK  01:21:15
3  TAYLOR SWIFT  01:21:34
4    JEFF BEZOS  01:21:45